@page "/sampletest"
<h3>Code Sample Test</h3>

<CodeSample Language="C#">
    // this is a test
    public static void Test()
    {
    // another comment
    Task.Delay(10);
    }
</CodeSample>

<CodeSample Language="HTML">
    &lt;p&gt;
        @@page &quot;/sampletest&quot;
        Another example
    &lt;/p&gt;
</CodeSample>

@code {

}
