<BsGroup Label="@Label">
    <InputCheckbox @bind-Value="@Value" @bind-Value:event="changed" class="form-check" disabled="@(Mode == EditMode.ReadOnly)" />
    <label class="form-check-label">@CheckboxLabel</label>
</BsGroup>
@code
{
    [Parameter] public string Label { get; set; }

    [Parameter] public string CheckboxLabel { get; set; }

    [Parameter] public bool Value { get; set; }

    [Parameter] public EventCallback<bool> ValueChanged { get; set; }

    [CascadingParameter] public EditMode Mode { get; set; }

}